.resultsContainer {
    width: 100%;

}

.resultsHeader {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
    text-align: center;
}

.resultsDropdown {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.resultsDropdown select {
    width: 200px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #ffffff;
}

.displayResultsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.displayResultItem {
    padding: 1rem;
    border: 1px solid #e1e1e1;
    margin-bottom: 0.5rem;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.displayResultItem:hover {
    background-color: #eef0f2;
}

.resultDetails {
    font-size: 1rem;
    color: #555;
}
